<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">
  <title>{{title}}</title>
</head>

<body class="d-flex flex-column h-100">
  {{>admin_header}}

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h2 class="page-title">Edit Product</h2>
      <a href="/admin/pages" class="btn btn-primary">Back to all products</a>
      <br><br>

      <form method="POST" action="/admin/products/edit-product/{{product.id}}">

        <div class="form-group">
          <label for="">Title</label>
          <input type="text" class="form-control" name="title" value="{{product.title}}" placeholder="Title">
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <textarea name="description" class="form-control" cols="30" rows="10"
            placeholder="Description">{{product.description}}</textarea>
        </div>

        <div class="form-group">
          <label for="">Category</label>
          <select class="form-control" name="category">
            {{#each categories}}
            <option value="{{this.slug}}">{{this.title}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="">Price</label>
          <input type="text" class="form-control" name="price" value="{{product.price}}" placeholder="Price">
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </main>
  
  {{>footer}}

  {{>scripts}}
</body>

</html>